@{
    ViewBag.Title = "About";
}

<div class="container body-blue">
    <div class="row">
        <h1 class="headline first-child text-color" style="text-align: center">About Me</h1>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>While java was formally taught to me in lecture, I have learned a great deal of languages on my own.  I learned how to use JavaScript, jQuery, 
                VBA and html.  I learned how to do VBA on my own during my independent contracting work with Stormwater Solutions.  I'm currently in the process of
                attending Coder Foundry and picking up C# and learning how to use Microsoft Visual Studio.  In the future, I hope to become more knowledgable about 
                Angular.js and SQL in general.</p> 
            </div>
        </div>
    </div>
</div>
