@{
}
 <!-- Jumbotron -->
<div class="wrapper">
<div class="main-slideshow">
    <div id="main-slideshow" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <!-- Slide No 1 -->
            <div class="item active">
                <div class="jumbotron first">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="animated slideInLeft">
                                <h1 class="animated slideInLeft full">Learn More<br />About What I Can Do For You</h1>
                                <p class="lead animated slideInLeft delay-1 full">What to know even more about me?  Check out my LinkedIn page.</p>
                                </div>
                                <form action="http://www.linkedin.com/pub/jonathan-carlee/b0/452/863/en">
                                    <input type="submit" class="btn btn-color animated slideInLeft delay-2" value="Go To My LinkedIn Profile">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide No 2 -->
            <div class="item">
                <div class="jumbotron second">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <h1 class="text-center animated fadeInDown">Curious About My Coding Technique?</h1>
                                <p class="lead text-center animated fadeInDown delay-1">Go to my GitHub and see exactly how I do it.</p>
                                <div class="text-center animated fadeInDown delay-2"><a href="https://github.com/JonCarlee" class="btn btn-color pull-center">Go To My GitHub</a></div>
                                <img class="img-responsive hidden-xs" src="" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Slide No 3 -->
            <div class="item">
                <div class="jumbotron third">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="animated slideInLeft">Curious About My Other Hobbies?</h1>
                                <p class="lead animated slideInLeft delay-1">Check out some things that I do<br /> in my spare time!</p>
                                <a href = "@Url.Action("Other")" class="btn btn-color animated slideInLeft delay-2">Go To Other</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- / Slide No 3 -->
        </div>
        <!-- Controls -->
        <a class="slideshow-arrow slideshow-arrow-prev bg-hover-color" href="#main-slideshow" data-slide="prev" style=text-decoration:underline>
            <i class="fa fa-angle-left"></i>
        </a>
        <a class="slideshow-arrow slideshow-arrow-next bg-hover-color" href="#main-slideshow" data-slide="next" style=text-decoration:underline>
            <i class="fa fa-angle-right"></i>
        </a>
    </div>
</div> <!-- / Slideshow -->
</div>