@{
}

<div class="col-sm-12" style="text-align: center">
    <h1>Other Things</h1>
    <br />
    <p>Some of my hobbies are tennis, lazer tag and playing guitar and bass.</p>
    <br />
    <p>My more professional hobbies include video filming and editing and music composing</p>
</div>
