@{
}

<div class="col-sm-12" style="text-align: center">
    <h1>Other Things</h1>
    <br />
    <p>Some of my hobbies are tennis, lazer tag and playing guitar and bass.</p>
    <br />
    <p>My more professional hobbies include video filming and editing and music composing.</p>
    <h3>Want to see some of the videos that I've done?  Take a look at my award winning CMF entry.</h3><br />
    <a href="http://www.campusmoviefest.com/movies/36657-hunt" style="text-align: center">
        <img src="~/img/cmf.jpeg">
    </a>
    <br />
    <h3>Want to hear some of the stuff I made?  Check out my soundcloud!</h3><br />
    <a href="https://soundcloud.com/jonman3450" style="text-align: center">
    <img src="~/img/soundcloud.png" />
    </a>
</div>
