@{

}
    <!-- Wrapper -->
<div class="wrapper">
    <!-- Topic Header -->
    <div class="topic">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="primary-font">Portfolio</h3>
                </div>
                <div class="col-sm-8">
                    <ol class="breadcrumb pull-right hidden-xs">
                        <li><a href="index.html">Home</a></li>
                        <li class="active">Portfolio</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="btn-group" id="filters">
                    <a href="#" class="btn btn-color" data-filter="*">All</a>
                    <a href="#" class="btn btn-color" data-filter=".cat-1"><span class="hidden-xs">Coder Foundry Samples</span> CF</a>
                    <a href="#" class="btn btn-color" data-filter=".cat-2"><span class="hidden-xs"></span> Complete</a>
                    <a href="#" class="btn btn-color" data-filter=".cat-3"><span class="hidden-xs"></span> Working On</a>
                    <a href="#" class="btn btn-color" data-filter=".cat-4"><span class="hidden-xs"></span> Other</a>
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="col-sm-12 list-inline glr-list-p" id="isotope-container">
                <li class="isotope-item cat-1 cat-2">
                    <div class="portfolio-item">
                        <a href="@Url.Action("JSExercises")">
                            <img src="~/img/product-3.jpg" class="img-responsive" alt="...">
                            <div class="mask">
                                JavaScript Exercises<span class="pull-right"><i class="fa fa-heart"></i> 0 <i class="fa fa-comments-o"></i> 0</span>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="isotope-item cat-1 cat-3">
                    <div class="portfolio-item">
                        <a href="@Url.Action("BugTracker")">
                            <img src="~/img/general-2.jpg" class="img-responsive" alt="...">
                            <div class="mask">
                                Bug Tracker <span class="pull-right"><i class="fa fa-heart"></i> 12 <i class="fa fa-comments-o"></i> 24</span>
                            </div>
                        </a>
                    </div>
                </li>
                <!-- 
                THIS WILL BE LEFT HERE FOR WHEN MORE ELEMENTS ARE NEEDED
                <li class="isotope-item cat-3 cat-1">
                    <div class="portfolio-item">
                        <a href="portfolio-item.html">
                            <img src="~/img/general-3.jpg" class="img-responsive" alt="...">
                            <div class="mask">
                                by John Doe <span class="pull-right"><i class="fa fa-heart"></i> 12 <i class="fa fa-comments-o"></i> 24</span>
                            </div>
                        </a>
                    </div>
                </li>
                -->
            </ul>
        </div>
    </div> <!-- / .container -->
</div> <!-- / .wrapper -->