@{

}

<div class="container body-blue">
    <div class="row">
        <h1 class="headline first-child text-color" style="text-align: center">Resume</h1>
        <p></p>
            <h2  style="text-align: center">EDUCATION:</h2> 
            <h4 style="text-align: center"> Bachelor of Computer Science Degree, December 2014</h4>
            <h4 style="text-align: center"> University of North Carolina at Greensboro</h4>
            <h4 style="text-align: center"> Minor in Mathematics</h4><br />
            <h3 style="text-align: center">Currently Attending <b>Coder Foundry</b></h3><br />
            <h2 style="text-align: center">SKILLS:</h2>
            <p> •	Microsoft Office Products: Word, Excel, PowerPoint, OneNote</p>
            <p> •	Programming Languages: Java, Android, Javascript, jQuery, HTML, VBA</p>
            <p> •	Currently learning bootstrap.js, MVC, and C#</p>
            <p> •	Have some exposure to Prolog, C++, python, SQL</p>
            <p> •	Have access to Adobe Cloud</p>
            <p> •	Adobe Creative Suite: After Effects, Audition, Premiere Pro, GIMP (Photoshop-esque freeware)</p>
            <p> •	Helped develop 2 Android applications in a year, taking a semester for each</p>
            <p> •	Senior Project developed tuition calculator app to account for inflation over the years.  Complete with a functional database for historical<br /> &nbsp;&nbsp;data</p><br />
            <h2  style="text-align: center">EXPERIENCE:</h2><br />
            <h4 style="text-align: center"> Independent Contractor, spanned May 2013 to September 2013</h4>
            <h4 style="text-align: center"> Stormwater Solutions and Services, LLC</h4><br />
            <p> •	Added functionality to spreadsheets using a combination of VBA coding, macros and userforms</p>
            <p> •	Performed maintenance and change requests to spreadsheets</p>
            <p> •	Created an export/import system to save vital information</p>
            <p> •	Tested spreadsheets to verify working code and to test the importing/exporting system</p>
            <p> •	Was able to continue communication and coding despite traveling across the country</p>
            <p> •	Urgent request was received at 10 pm one night and needed before midnight.  Was able to perform fix and successfully test the fix before the<br /> &nbsp;&nbsp;midnight deadline.</p><br />
            <h4 style="text-align: center"> Volunteer, spanned Summer 2011</h4>
            <h4 style="text-align: center"> Novant Health</h4><br />
            <p> •	Set up Cognos Mobile for the company</p>
            <p> •	Read server manuals and requirements</p>
            <p> •	Gave instructions to Server Admin to set up server side</p>
            <p> •	Set up iPad with proper authentification through VPN</p>
            <p> •	Worked with Developer to set up a live demo</p>
            <p> •	Presented working demo to Executives as well as set up their devices</p><br />
            <h4 style="text-align: center"> Independent Contractor, spanned June 2010 to December 2011</h4>
            <h4 style="text-align: center"> NC State University, Raleigh, North Carolina</h4><br />
            <p> •	Coded Excel Spreadsheets using Excel functions and VBA macros</p>
            <p> •	Tested spreadsheets to verify working code</p><br />
            <h4 style="text-align: center"> Crew Member, June 2012 to October 2014</h4>
            <h4 style="text-align: center"> McDonalds, Winston-Salem, North Carolina</h4><br />
            <p> •	Maintained store cleanliness, made sure supplies were stocked, and gave customers a positive experience by taking orders and payment<br /> &nbsp;&nbsp;quickly and accurately.</p><br />
            <h4 style="text-align: center"> Crew Member, June 2011 to December 2011</h4>
            <h4 style="text-align: center"> McDonalds, Winston-Salem, North Carolina</h4><br />
            <p> •	Maintained store cleanliness, made sure supplies were stocked, and gave customers a positive experience by taking orders and payment<br /> &nbsp;&nbsp;quickly and accurately.</p><br />
            <h4 style="text-align: center"> Treasurer, August 2009 to June 2010</h4>
            <h4 style="text-align: center"> Reagan High School Drama Club, Pfafftown, North Carolina</h4>
            <p> •	Managed Drama Clubs finances and ticket sales</p><br />
            <h2 style="text-align: center">AWARDS AND ACHIEVEMENTS:</h2>
            <p> •	AP Scholar with Distinction  Fall 2010
        </p>
    </div>
</div>
